.friend {
    margin: 10px auto;
    text-align: center;
    width: 300px;
    padding: 5px;
    border-radius: 3%;
    color: white;
    background-color: rgb(39, 165, 138);
}

.friend:hover {
    cursor: pointer;
    opacity: 0.8;
}

.email {
    color: rgb(23, 23, 133);
}