.app {
    width: 500px;
    margin: 20px auto;
}

.caption {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    color: rgb(228, 34, 99);
}

.friend {
    margin: 10px auto;
    text-align: center;
    width: 300px;
    padding: 5px;
    border-radius: 3%;
    color: white;
    background-color: rgb(39, 165, 138);
}

.friend:hover {
    cursor: pointer;
    opacity: 0.8;
}

.email {
    color: rgb(23, 23, 133);
}

.form-container {
    display: flex;
    justify-content: space-around;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(39, 165, 138);
    border-radius: 3%;
}

.input {
    text-align: center;
    margin: 5px;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 2%;
    color: rgb(228, 34, 99);
}

.input::placeholder {
    color: rgb(228, 34, 99);
    opacity: 0.7;
}

.button {
    margin-top: 10px;
    font-weight: 700;
    width: 100px;
    height: 25px;
    color: rgb(228, 34, 99);
    background-color: white;
    border: 1px solid ;
}

.button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(228, 34, 99);
}