.app {
    width: fit-content;
    margin: 20px auto;
}

.caption {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    color: rgb(228, 34, 99)
}

.friend {
    margin: 10px 0;
    text-align: center;
    width: 300px;
    padding: 5px;
    border-radius: 3%;
    color: white;
    background-color: rgb(39, 165, 138);
}

.friend:hover {
    cursor: pointer;
    opacity: 0.8;
}

.friend div span {
    color: rgb(23, 23, 133);
} 
